.iti__flag {
  background-image: url("../images/flags.png");
}

.iti {
  width: 100%;
  /* position: relative; */
  left: 40px;
}

#phone {
  margin-right: 3rem;
  width: calc(100% - 9rem);
}

body {
  background: #e7e7e7;
}

div.row {
  margin-bottom: 10px;
}

div.input-field {
  margin-bottom: 0px;
}

.container {
  width: 60%;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 94%;
  }
}


.logo-bg {
  background: #0a9ca1;
  margin-bottom: 0px;
  /* height: 50%; */
  padding: 40px 80px 40px 80px;
  border-radius: 15px 15px 0px 0px;
}

.font {
    color: whitesmoke;
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;

}

.initialCaps {
  text-transform: capitalize!important;
}

#logo {
  width: 10rem;
}

#form {
  background: #fff;
  /* position: relative; */
  height: auto;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 50px;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  /*   filter: opacity(50%); */
}

select[required] {
  opacity: 0;
  display: block;
  position: absolute;
  height: 0;
  border: none;
  margin-top: -50px;
}

.btn-primary {
    background-color: #eb8e1a;
}

.btn {
    padding: 0px 40px 0px 40px;
}

.btn:focus {
    background-color: #eb8e1a;
}

.row {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.linkedin {
  color: #0077b5;
}

.twitter {
  color: #55acee;
}

.instagram {
  color: #e4405f;
}

.facebook {
  color: #3b5999;
}

.skype {
  color: #00aff0;
}

.padding-bottom {
  padding-bottom: 20px;
}

.padding-top {
  padding-top: 20px;
}

.top-margin {
  margin-top: 40px;
}

.bottom-margin {
  margin-bottom: 40px;
}

#logo {
  border-radius: 50%;
}
